---
import ProjectsList from "../components/ProjectsList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2
    class="text-center uppercase font-bold text-lg mt-11 tracking-[3px] lg:mt-20"
  >
    Front-end & Creative <br /> Developer
  </h2>
  <div class="mt-12 flex flex-col items-stretch gap-0.5 mb-4 lg:mb-8 lg:mt-24">
    <h2 class="font-normal tracking-[3px]">QUELQUES PROJETS</h2>
    <div class="bg-primary h-px w-full"></div>
  </div>
  <ProjectsList />
</Layout>

<style lang="scss"></style>
