---

---

<header class="relative">
  <svg
    class="absolute -bottom-4 left-1/2 -translate-x-1/2 z-0 min-w-[140vw] pointer-events-none lg:hidden"
    viewBox="0 0 573 374"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.2"
      d="M310.397 2L310.852 1.79306L310.485 0.986744L309.984 1.71722L310.397 2ZM111.891 291.466L111.478 291.183L110.921 291.996L111.906 291.966L111.891 291.466ZM458.633 328.052L458.453 328.519L459.594 328.957L459.088 327.845L458.633 328.052ZM345.001 284.333L345.18 283.866L345.086 283.83L344.985 283.833L345.001 284.333ZM571.64 35.0574L572.098 35.2583L572.448 34.4608L571.582 34.5607L571.64 35.0574ZM347.613 60.9214L347.556 60.4247L346.875 60.5033L347.157 61.1277L347.613 60.9214ZM455.656 299.357L455.2 299.563L455.663 300.585L456.113 299.558L455.656 299.357ZM127.108 300.265L127.093 299.765L126.913 300.726L127.108 300.265ZM280.053 295.946L280.538 295.824L280.439 295.435L280.039 295.447L280.053 295.946ZM299.53 373L299.336 373.461L300.261 373.851L300.015 372.878L299.53 373ZM2.01746 271.344L1.67829 270.977L0.929095 271.669L1.93468 271.837L2.01746 271.344ZM102.691 288.244L102.609 288.737L102.919 288.789L103.1 288.531L102.691 288.244ZM266.712 26.9708L267.2 27.0806L267.552 25.5149L266.373 26.6035L266.712 26.9708ZM257.459 68.1138L257.868 68.4014L257.925 68.3202L257.946 68.2235L257.459 68.1138ZM309.984 1.71722L111.478 291.183L112.303 291.749L310.809 2.28278L309.984 1.71722ZM459.088 327.845L310.852 1.79306L309.941 2.20694L458.178 328.259L459.088 327.845ZM344.821 284.8L458.453 328.519L458.813 327.585L345.18 283.866L344.821 284.8ZM111.906 291.966L345.016 284.833L344.985 283.833L111.875 290.966L111.906 291.966ZM571.582 34.5607L347.556 60.4247L347.67 61.4181L571.697 35.5541L571.582 34.5607ZM456.113 299.558L572.098 35.2583L571.182 34.8565L455.198 299.156L456.113 299.558ZM347.157 61.1277L455.2 299.563L456.111 299.151L348.068 60.715L347.157 61.1277ZM127.122 300.765L280.067 296.446L280.039 295.447L127.093 299.765L127.122 300.765ZM299.725 372.54L127.302 299.804L126.913 300.726L299.336 373.461L299.725 372.54ZM279.568 296.069L299.046 373.123L300.015 372.878L280.538 295.824L279.568 296.069ZM1.93468 271.837L102.609 288.737L102.774 287.751L2.10023 270.851L1.93468 271.837ZM266.373 26.6035L1.67829 270.977L2.35663 271.712L267.051 27.3382L266.373 26.6035ZM257.946 68.2235L267.2 27.0806L266.224 26.8611L256.971 68.0041L257.946 68.2235ZM103.1 288.531L257.868 68.4014L257.049 67.8262L102.282 287.956L103.1 288.531Z"
      fill="#C6B5A0"></path>
  </svg>

  <nav class="flex items-start justify-between">
    <h1 class="text-sm font-bold uppercase">
      <a href="/">MAXIME <br class="md:hidden" /> FONTENAY</a>
    </h1>

    <div class="flex">
      <a href="/portfolio" class="hidden text-sm font-bold uppercase px-3 pb-2"
        >PROJETS</a
      >
      <a href="/about" class="hidden text-sm font-bold uppercase px-3 pb-2"
        >MOI</a
      >
      <a href="/contact" class="text-sm font-bold uppercase px-3 pb-2"
        >Contact</a
      >
    </div>
  </nav>
</header>

<style></style>
